@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Orbitron', sans-serif;
    background: #0a192f;
    color: #00eaff; 
    text-align: center;
}

h1 {
    margin: 20px;
    user-select: none;
    color: #4ef037; 
}

footer {
    text-align: center;
    color: #efebed; 
    user-select: none;
}

.container {
    background: #1e1e2f; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 150px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 234, 255, 0.4);
}

.time {
    font-size: 5rem;
    margin-bottom: 10px;
    user-select: none;
    color: #00eaff; 
}

.controls button {
    background-color: #ff0077; 
    margin: 10px 5px;
    padding: 12px 25px;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    color: #ffffff;
    box-shadow: 0px 4px 10px rgba(255, 0, 119, 0.3);
}

.controls button:hover {
    background-color: #121212; 
    color: #ff0077;
    transform: scale(1.05);
}

.controls button:active {
    transform: scale(0.95);
}

.lapping h4 {
    font-size: 1.2rem;
    color: #4ef037; 
    margin: 5px;
    text-shadow: 0px 0px 5px rgba(78, 240, 55, 0.5);
}

@media(max-width:480px) {
    h1 {
        font-size: 1.2rem;
    }
    .container {
        max-width: 250px;
    }
    .time {
        font-size: 3rem;
    }
    .controls button {
        padding: 8px;
        margin: 2px;
    }
}
